@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@600;800&family=Montserrat:ital,wght@1,700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:ital,wght@0,300;1,300&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@600;800&family=Montserrat:ital,wght@1,700&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@300&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Manrope:wght@600;800&family=Montserrat:ital,wght@1,700&family=Open+Sans&display=swap");

/* COLORS */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

/* TYPOGRAPHY */
$displayFont: "Josefin Sans", sans-serif;
$bodyTextFont: "Alata", sans-serif;

// font sizes
$font-med: 1.125rem; //18px
$font-sm: 0.875rem; //14px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;
