.features {
  min-height: 100px;
  background-color: #ffffff;

  &__triangle {
    display: block;
    height: 60px;
    transform: translateY(-60px);

    &::before {
      // this stuff that is in the comments should be deleted later if the code below works
      content: "";
      position: absolute;
      // padding-bottom: 158%;
      // width: 41.7%;
      background-color: #ffffff;
      z-index: -1;
      transform-origin: 0 0;
      // transform: rotate(-83deg) translateX(-70%) translateY(-5%);

      width: 120%;
      padding-bottom: 27%;
      transform: rotate(8deg) translateX(-3%) translateY(-12%);

      @media #{$mq-540-up} {
        transform: rotate(8deg) translateX(-3%) translateY(-31%);
      }
    }
  }

  &__wrapper {
    position: relative;
    padding-top: 40px;

    @media #{$mq-1000-up} {
      margin-top: -120px;
    }
  }

  &__content {
    @media #{$mq-1000-up} {
      display: flex;
    }
  }

  &__image {
    background-image: url(../../images/illustration-stay-productive.png);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
    margin-bottom: 100px;

    @media #{$mq-1000-up} {
      flex: 1;
      padding-right: 123px;
      margin-bottom: 0px;
      padding-left: 139px;
      height: 200px;
    }
  }

  &__item {
    @media #{$mq-1000-up} {
      flex: 1;
      flex: 0 1 auto;
      padding: 0 70px;
    }

    &:last-child {
      padding-right: 0;
    }

    .feature {
      margin-bottom: 40px;

      h3 {
        font-size: 16px;
        margin-bottom: 17px;
        color: $darkPurple;
        margin-top: 0px;

        @media #{$mq-1000-up} {
          font-size: 1.15rem;
          margin-bottom: 20px;
        }
      }

      p {
        color: $lightGray;
        font-size: 0.9rem;
        line-height: 1.5;

        @media #{$mq-1000-up} {
          font-size: 1rem;
        }
      }
    }
  }
}
