footer {
  margin-top: 3rem;
  background-color: $black;
  position: absolute;
  width: 100%;
  max-height: 27%;
  overflow: visible;
  padding: 150px 100px;

  display: flex;
  // height: 350px;
  overflow: auto;
  flex-direction: row;
  justify-content: space-between;
  .left {
    &__logo2 {
      img {
        margin-bottom: 32px;
      }
    }

    &__links {
    }
  }

  .right {
    &__ficons {
      margin-bottom: 32px;

      img:not(:last-child) {
        margin-right: 32px;
      }

      img:hover {
      }

      .icon-wrapper {
        margin-bottom: 10px solid $white;
        transition: $white 300ms ease-in-out;
      }
    }

    &__text {
      p {
        margin-top: 40px;
      }
      color: $white;
    }
  }
}
