header {
  padding-bottom: 5rem;

  .wrapper {
    $root: &;

    box-sizing: border-box;
    overflow: hidden;
    padding: 0px 0px 20px 0px;
    // position: relative;
    &__cover {
      background-image: url("/Programming/Web/Web12/images/desktop/image-hero.jpg");
      object-fit: cover;
      background-repeat: no-repeat;
      position: relative;

      @include breakpoint-down(medium) {
        background-image: url("/Programming/Web/Web12/images/desktop/image-hero.jpg");
        background-position: center;
      }
    }

    @include breakpoint-down(medium) {
      &__btnwrapper {
        position: relative;
        a {
          position: absolute;
          left: 20rem;
          top: -38rem;
        }

        .header__toggle {
          span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $white;

            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    &__headings {
      position: relative;

      @include breakpoint-down(large) {
        a {
          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      @include breakpoint-down(medium) {
        a {
          position: relative;
          &:not(:last-child) {
            margin-bottom: 20px;
          }

          span {
            display: block;
            position: absolute;
            height: 45px;
            width: 45px;
            background: red;
            top: -38rem;
            left: 19rem;
          }
        }
      }

      .links {
        position: absolute;
        top: -593px;
        left: 45rem;
        @include breakpoint-down(medium) {
          display: block;
        }
      }

      .logo {
        background-color: transparent;
        position: absolute;
        top: -38rem;
        left: 5rem;

        @include breakpoint-down(medium) {
          background-color: transparent;
          position: absolute;
          top: -38rem;
          left: 1rem;
        }
      }

      //hamburger stuff

      //hamburger open styles
      .open {
        .header__toggle {
          > span:first-child {
            transform: rotate(45deg);
          }

          > span:nth-child(2) {
            opacity: 0;
          }

          > span:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    &__box {
      border: 1px solid $white;
      top: 20rem;
      left: 5rem;
      position: absolute;
      padding: 26px 371px 54px 26px;
      max-width: 41rem;
      float: left;

      @include breakpoint-down(medium) {
        border: 1px solid $white;
        top: 20rem;
        left: 1rem;
        max-width: 18rem;
        width: 100%;
        height: 20%;
        width: 100%;
        padding: 26px;
        display: flex;
        align-items: center;

        .line {
          display: block;
        }

        .newline {
          display: inline-block;
          white-space: nowrap;
        }

        h1 {
          transform: scale(1.7, 1.7);
          // word-spacing: 0.6;
          letter-spacing: normal;
          font-size: 20px;
          position: absolute;
          top: 32%;
          left: 24%;
        }
      }
    }
  }
}
