/* 

 LAST RULE ORDER

div {
  height: 400px;
  color: red;
}

div {
  height: 400px;
  color: blue;
  height: 200px;
}

.big-img {
  border: 2px solid red;
  background: url("./photos/coffee.jpeg");
  background-repeat: repeat;
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}

.small-img {
  background: url("./photos/photo1.jpeg");
  background-repeat: round;
  background-size: cover;
}

.folder-img {
  background: url("./photos/logo.png");
  background-size: contain;
}
 */

/* BACKGROUND POSITION */
/* 
div {
  height: 400px;
  color: blue;
  height: 200px;
}

.big-img {
  background: url("./photos/coffee.jpeg");
  background-repeat: cover;
}

.small-img {
  border: 2px solid red;
  background: url("./photos/photo1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 20% 0;
}

.folder-img {
  background: url("./photos/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  background-position: right;
  background-position: top;
} */

/* BACKGROUND-ATTACHMENT */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: green;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.big-img {
  background: url("./photos/coffee.jpeg");
  background-repeat: cover;
  background-image: center;
  background-attachment: fixed;
}

.small-img {
  border: 2px solid red;
  background: url("./photos/photo1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-image: center;
  background-attachment: fixed;
}

.folder-img {
  background: url("./photos/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-image: center;
  background-attachment: fixed;
}
