/* 
div {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.one {
  background: linear-gradient(red, green);
}

.two {
  background: linear-gradient(to top, red, green, blue, yellow);
}

.three {
  background: linear-gradient(150deg, red, green, blue, yellow);
}

.four {
  background: linear-gradient(to top left, red, green, blue, yellow);
}

.five {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
}

.six {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3));
} */

/* MORE STUFF IDK */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 60px;
  color: orange;
}

.banner {
  background: url("./photos/coffee.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),
    url("./photos/photo1.jpeg") center/cover no-repeat fixed;
}

.colorzilla {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4096ee+39,856ad8+40,4096ee+41,4096ee+41,4096ee+43,4096ee+43,4096ee+100 */
  background: rgb(64, 150, 238); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(64, 150, 238, 1) 39%,
    rgba(133, 106, 216, 1) 40%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(64, 150, 238, 1) 39%,
    rgba(133, 106, 216, 1) 40%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(64, 150, 238, 1) 39%,
    rgba(133, 106, 216, 1) 40%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 41%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 43%,
    rgba(64, 150, 238, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#4096ee',GradientType=1 ); /* IE6-9 */
}
